body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: -apple-system, 'Cardo', serif;;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

ul, ol {
   padding: 0;
   margin: 0;
   list-style-type: none;
}

.container {
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}

.title {
   margin: 0;
   font-size: 28px;
   line-height: 32px;
}

.meal__title {
   margin: 30px 0;
   color: #D49726;
   font-size: 44px;
   line-height: 48px;
}

.meal__img {
   max-width: 450px;
   border-radius: 8px;
   box-shadow: 10px 12px 29px -14px rgba(0,0,0,.75);
   object-fit: cover;
}

.header {
   background-color: #D49726;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: center;

   font-size: 28px;
   color: #fff;
   font-weight: 700;
}

.random-meal {
   margin-top: 60px;
}

.random-meal__content {
   display: flex;
   justify-content: center;
   align-items: center;
}

.random-meal__description {
   display: flex;
   flex-direction: column;
   text-align: center;
   padding: 0 50px;
}

.random-meal__link {
   text-decoration: none;
   color: #000;
}

.random-meal__category-country {
   font-size: 18px;
}

.search-form {
   margin-top: 30px;
}

.search-form__content {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.search-form__box {
   margin-top: 20px;
}

.search-form__input {
   width: 220px;
   padding: 15px 10px;

   outline: none;
   border: none;
   background-color: #DCDCDC;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;

   cursor: pointer;
}

.search-form__button {
   padding: 15px 20px;
   border: none;
   background-color: #D49726;
   color: #fff;

   cursor: pointer;
}

.meals-list {
   margin-bottom: 50px;
}

.meal-list__link {
   text-decoration: none;
   color: #000;
}

.meals-list__item {
   border-bottom: 2px solid #000;
   padding: 0 120px 30px 120px;
   margin-top: 50px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.meals-list__item-description {
   text-align: center;
}

.meals-list__item-title {
   max-width: 250px;
   font-size: 26px;
   font-weight: 700;
}

.meals-list__item-country-category {
   margin-top: 10px;
   font-size: 18px;
}

.recipe__info {
   margin-top: 50px;
   display: flex;
   justify-content:space-between;
   align-items: center;
   padding: 0 50px;
}

.recipe__info-country-category {
   text-align: center;
   font-size: 18px;
}

.recipe__info-list {
   margin-top: 15px;
}

.recipe__instruction {
   margin-top: 50px;
}

.recipe__instruction-title {
   text-align: center;
}

.recipe__instruction-description {
   font-size: 18px;
}

.recipe__watch-btn {
   margin: 50px 0px 40px 0px;
}

.recipe__btn {
   background-color: red;
   text-decoration: none;
   border: none;
   border-radius: 8px;
   outline: none;
   padding: 15px 25px;
   color: #fff;
   font-weight: 700;
   font-size: 18px;
}


@media screen and (max-width: 1024px) {
   .random-meal__content {
      flex-wrap: wrap;
   }
   .meal__img  {
   max-width: 380px;
   }
   .meal__img  {
      margin-top: 50px;
   }
   .meals-list__item-description {
      margin-top: 20px;
   }
   .recipe__info {
      margin: 0;
   }
}

@media screen and (max-width: 768px) {
   .meals-list__item {
      justify-content: center;
   }
   .recipe__info {
      flex-direction: column-reverse;
      justify-content: center;
   }
   .recipe__info-list {
      text-align: center;
   }
   .recipe__watch-btn {
      text-align: center;
   }
}

@media screen and (max-width: 425px) {
   .meal__img {
   max-width: 300px;
   }
}

